#pfp {
	width: 350px;
	height: 180px;
	border-radius: 15px 15px 0px 0px;
}

.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100%;
}

.recommendations {
	display: flex;
	justify-content: center;
	gap: 100px;
	flex-wrap: wrap;
	overflow: auto;
	width: 100%;
	min-height: 100vh;
	padding: 50px 0;
	border-radius: 20px;
}

.recommendation {
	width: clamp(400px, 90%, 720px);
	padding: 20px;
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.recommendation-form {
	display: flex;
	justify-content: center;
	text-align: center;
}

#interest,
#location {
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.recomendation-text {
	color: white;
	font-weight: bold;
}

#details-btn {
	margin-right: 5px;
}

#details-btn:hover {
	transform: translate(-1px, -1px);
}

#button-space {
	display: flex;
	justify-content: space-evenly;
	border-top: 1px grey solid;
	margin-top: 2%;
	padding: 10px;
}

#details-images {
	width: 100%;
}


.my-card {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 75%;
	min-height: 100vh;
	max-height: 100%;
	flex-direction: column;
	border: 1px grey solid;
	contain: content;
	content: contain;
	background-color: white;
	box-shadow: 3px 3px 20px 3px black;
}

.my-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	max-height: 100%;
	background-color: #85e0d6;
}

#my-card-title {
	font-size: 4em;
	font-weight: bold;
	text-align: left;
}

#my-card-content {
	font-size: 1em;
	margin-top: 20px;
	padding: 10px;
}

.float-right {
	width: 100%;
	padding-left: 5%;
}

.rec-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #85e0d6;
	width: 100%;
	flex-direction: column;
}

.rec-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	content: contain;
	width: 75%;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 1px 1px 10px black;
	margin-bottom: 50px;
}

#title-header {
	width: 100%;
	height: 200px;
	text-align: center;
	border-bottom: 1px solid black;
	contain: content;
	padding: 0.4rem;
	background-color: white;
	width: 75%;
	border-radius: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
    background-image: url("./images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 1px 1px 10px;
}

#profile-pfp {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	box-shadow: 3px 3px 3px black;
	transition: 0.2s;
}

.interests-user-profile {
	font-size: 1.54em;
	text-indent: 0.5em;
}

#user-profile-card-title {
	font-size: 2.3em;
	font-weight: bold;
}

#profile-rec-card {
	box-shadow: 1px 1px 10px black;
	border-radius: 15px;
}

#details-page-content {
	padding: 40px 10%;
	font-size: 20px;
	font-weight: 400;
}
